name: Main
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.13.0"
      - name: Install dependencies
        run: npm install
      - name: DB undo
        run: npm run undo-migrate
      - name: Migrate DB
        run: npm run migrate

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: "281280c4-d6a5-4593-bb3f-f34448b9eb7b"
          heroku_app_name: "be-kel1"
          heroku_email: "fejs4.kel1@gmail.com"

      - run: heroku run npx sequelize-cli db:migrate --env production
